.subText {
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subText > :nth-child(1) {
  text-align: center;
}

@media (max-width: 480px) {
  .subText {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
  }
}

.comingSoon {
  font-size: 20px;
  font-weight: 400;
  color: #05203c;
  padding-top: 10px;
}

@media (max-width: 480px) {
  .comingSoon {
    margin-top: -70px;
  }
}
